*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f3f3f3;
  font-family: 'PT Serif', serif;
  font-size: 0.9rem;
}

nav {
  font-size: 1.1rem;
}

/* style cards for ideas */
.box-shadow {
  background-color: white;
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
}

.box-shadow-colorful {
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 85, 85) 30px -30px;
}

/* styling keyboard shortcut instruction */
.bg-transparent {
  background-color: #f3f3f3;
  color: rgba(0, 0, 0, 0.7);
}

.active {
  color: rgba(0, 0, 0, 1),
}

kbd {
  background-color: white;
  color: black;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
}

/* style all source link buttons */
a.btn-info:link,
a.btn-primary:link,
a.btn-warning:link,
a.btn-dark:link {
  font-size: 1rem;
  font-weight: 700;
  padding: 2rem;
  letter-spacing: 0.6px;
}

a.btn-info:hover { background-color: #0d95e8; }
a.btn-primary:hover { background-color: #1e48ff; }
a.btn-warning:hover { background-color: #ece159; }

.btn-info,
.btn-primary,
.btn-warning,
.btn-dark {
  border-radius: 0.2rem;
}

/* style Twitter link button */
.btn-info { background-color: #1da1f2; }

/* style RFS 100 newsletter link button */
.btn-primary { background-color: #0433ff; }

/* style My First Million episode link button */
.btn-warning { background-color: #e8da30; }

/* style about page links */
p a:hover {
  text-decoration: none;
  /* color: #00a6ff; */
}

/* styling form for idea submission */
.form-group input,
.form-group textarea,
.form-group button {
  width: 30rem;
}

.form-group input,
.form-group textarea,
.form-group input[type="url"],
.form-group button {
  font-size: 1.2rem;
}

.form-group label {
  font-size: 1rem;
}

.form-group textarea {
  height: 12rem;
  resize: none;
}

/* styling idea submission card */
.card-special {
  background: #f3f3f3;
}
